<%- include("template/head", {tituloWeb: 'Home'}) %> 
<%- include("template/header") %> 

<body>
    <section>
        <div class="container">
            <h1 class="title index__title"><%= message  %> </h1>  
            <p class="description">
                Aplicacion de notas en donde podrás agregar, ver, leer, modificar y eliminar una nota.
            </p>
            <div class="student">
                <p>Materia: </p>
                <p>Lenguajes Web</p>
                <p>Creado por: </p>
                <p>Jaime Osvaldo González Cárdenas</p>
            </div>
        </div>
    </section>
</body>
</html>