<%- include("template/head", {tituloWeb: 'Modify'}) %> 
<%- include("template/header") %> 

<body>
    <h1 class="title">Modify</h1>

    <div class="box card__note">
        <!-- Formulario que envia petición POST -->
        <form action="/modify" method="post">
            <div class="field">
                <label for="title" class="label label__note">Title</label>
                <div class="control input__note">
                    <input class="input" type="text" placeholder="Ej. Nota nueva" name="title">
                </div>
            </div>  
            <div class="field">
                <label for="ntitle" class="label label__note">New title</label>
                <div class="control input__note">
                <input class="input" type="text" placeholder="Ej. Titulo nuevo" name="ntitle">
            </div>
            <div class="field">
                <label for="nbody" class="label label__note">New body</label>
                <div class="control input__note">
                <input class="input" type="text" placeholder="Ej. Body nuevo" name="nbody">
            </div>
            <div class="field">
                <div class="control input__note input__note-btn">
                    <input class="button is-primary is-light is-outlined" type="submit" value="Modificar nota">
                </div>
            </div>
        </form>
    </div>
</body>
</html>